<font color = 'skyblue'>**Basic Python Syntax**</font>

<font color = 'lightgreen'>*Commonly used data types*</font><br>

*Text*:	str <br>
*Numeric*:	int, float, complex <br>
*Sequential*:	list, tuple, range <br>
*Map*:	dict <br>
*Set*:	set, frozenSet <br>
*Boolean*:	bool <br>
*Binary*:	bytes, byteArray, memoryView

In [ ]:
x = 5 # variable declaration, A variable is created the moment you first assign a value to it.
x = "Tasnim" 
print(x)
y = 'Tasnim' # x and y is same

Tasnim

In [ ]:
#Python allows you to assign values to multiple variables in one line:
a, b, c = "vaiarble1", "variable2", "varaibel3"
print(a,b,c)

#Concatenation:
print("I am " + y)
print(x + y)

vaiarble1 variable2 varaibel3
I am Tasnim
TasnimTasnim

<font color = 'lightpink'>*Data types and type casting*</font>

In [ ]:
print(type(x))

x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(type(a))

<class 'str'>
<class 'float'>

In [ ]:
#casting in python

x= int("5")
y = str("5.0")
print(x,y)

5 5.0


*   <font color = 'lightgreen'>*Random number generation*</font>
*   <font color = 'lightgreen'>*Importing library*</font>

In [ ]:
import random

num = random.random() # Generates a random floating-point number in the interval [0,1)
print(num)

num = random.randint(10, 20) # Generates a random integer from x to y, including the x and y
print(num)

0.3214650070483376
16

<font color='lightpink'>*Basic string operations*</font>

In [ ]:
# Python strings are zero-indexed

str1 = " Single line string" # single line
str2 = """ multiline 
 string """ # multi-line string
print(str1)
print(str1.strip()) # The strip() method removes any whitespace from the beginning or the end

print(str1)
print(str2)

 Single line string
Single line string
 Single line string
 multiline
 string

In [ ]:
sayHi = 'Say HI to Ivan\'s friend.' # 'Say HI to Ivan's friend' won't work. But, "say HI to Ivan's friend" is okay. 
                                    # '\' in python is an escape character.
print(sayHi)

dummy = "Nationality"
# Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
print(dummy[1])

# Slicing: You can return a range of characters by using the slice syntax.
print(dummy[2:6]) # let 2 is the 1st argument and 6 is the 2nd argument. 
                 # It will print characters ranging from the 1st argument upto (2nd argument - 1).

# Negative Indexing: Use negative indexes to start the slice from the end of the string:
print(dummy[-3:-1])

Say HI to Ivan's friend.
a
tion
it

In [ ]:
print(len(str1))  #The len() function returns the length of a string:
 
print(str1.lower())
print(str1.upper())

19
 single line string
 SINGLE LINE STRING

<font color = 'orange'>*Operators*</font>

In [ ]:
a = 5**3 # exponential
print(a)
a = 5/3
print(a)
a = 5//3
print(a) # the floor division // rounds the result down to the nearest Integer

125
1.6666666666666667
1

In [ ]:
#identity operators

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z) # returns True because z is the same object as x

print(x is y) # returns False because x is not the same object as y, even if they have the same content

print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

print(x is not z) # returns False because z is the same object as x

print(x is not y) # returns True because x is not the same object as y, even if they have the same content

print(x != y) 
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
True
False
True
False

In [ ]:
## membership operator

x = ["apple", "banana"]

print("pineapple" not in x)
print("banana" in y)

# returns True because a sequence with the value "pineapple" is not in the list

<font color = orange>*Collections - Arrays*<br></font>
There are four collection data types in the Python programming language. <br>


1.   **List**: A collection which is ordered and changeable. Allows duplicate members. Python lists are written with square brackets.
2.   **Tuple**: A collection which is ordered and unchangeable. Allows duplicate members. Tuples are written with round brackets.
3.   **Set**: A collection which is unordered and unindexed. No duplicate members.
4.   **Dictionary**: A collection which is unordered, changeable and indexed. No duplicate members.

*List*

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"] # Initializing a list
thislist = list(("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")) # Creating list using list constructor
print(thislist)
print(thislist[2]) # Postive indexing
print(thislist[-1]) # Negative indexing
print(thislist[1:5]) # The search will start at index 1 (included) and end at index 5 (not included).
print(thislist[:5])
print(thislist[-4:-1])
print(len(thislist)) #length of the list

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
cherry
mango
['banana', 'cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon']
7

In [ ]:
thislist.sort() # Sorting the list
print(thislist)
thislist.reverse() # Reversing the order of the list
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']
['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
cherryIndex= thislist.index("cherry") # The index() method returns the position at the first occurrence of the specified value.
cherryCount = thislist.count("cherry") # Returns the number of elements with the specified value.
print(cherryIndex, cherryCount)

4 1

In [ ]:
thislist[1]= "jackfruit" # Replacing item
print(thislist)

thislist.insert(1, "pomegranate")  # Inserting at a specified position
print(f'After inserting at 1 - {thislist}')

thislist.append("jackfruit") #insert at the end
print(thislist)

['orange', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple']
After inserting at 1 - ['orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple']
['orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit']

In [ ]:
thislist1 = list(thislist) # Making a copy of the list
thislist2 = thislist.copy() #Making a copy of the list

thislist.remove("jackfruit") # The remove() method removes the first matching element from the list.
print(thislist)
thislist.pop(2) # Removing item from specified index
print(thislist)
thislist.clear() # Empties the item of the list
print(thislist)

del thislist # Deletes the list

['orange', 'pomegranate', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit']
['orange', 'pomegranate', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit']
[]

In [ ]:
thislist3 = thislist1+ thislist2 # Joining two list
print(thislist3)

thislist1.extend(thislist2)
print(thislist1)

['orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit', 'orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit']
['orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit', 'orange', 'pomegranate', 'jackfruit', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'jackfruit']

In [ ]:
#Looping Through a List

for item in thislist1:
  print(item)

print('\n')

for i in range (0, len(thislist1)):
  print(thislist1[i])

# Determining if a specified item is present in a list use the in keyword:
if "apple" in thislist1:
  print("yes")

orange
pomegranate
jackfruit
mango
kiwi
cherry
banana
apple
jackfruit
orange
pomegranate
jackfruit
mango
kiwi
cherry
banana
apple
jackfruit


orange
pomegranate
jackfruit
mango
kiwi
cherry
banana
apple
jackfruit
orange
pomegranate
jackfruit
mango
kiwi
cherry
banana
apple
jackfruit
yes

*Tuple*

In [ ]:
# Init tuple
thistuple = ("apple", "banana", "cherry") 
thistuple= tuple(("apple", "banana", "cherry"))

# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

y = list(thistuple)
y[1]="mango"
thistuple = tuple(y)
print(thistuple)

('apple', 'mango', 'cherry')

In [ ]:
# Once a tuple is created, you cannot add or remove items.
# To create a tuple with only one item, you have add a comma after the item, 
# unless Python will not recognize the variable as a tuple.

one_item_tuple = ("mango",)
print(one_item_tuple)

thistuple1 = ("apple")
print(type(thistuple1))

('mango',)
<class 'str'>

In [ ]:
# Concatenating tuple
tuple1 = thistuple + one_item_tuple
print(tuple1)

('apple', 'mango', 'cherry', 'mango')

*Set*

In [ ]:
# A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
thisset = {"apple","orange","melon"}
thiset = set(("apple","orange","melon"))
print(thisset)

{'melon', 'orange', 'apple'}

In [ ]:

# You cannot access items in a set by referring to an index, since sets are unordered the items has no index. 
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set,
# by using the in keyword.

for x in  thisset:
  print(x)

# Once a set is created, you cannot change its items, but you can add new items.

thisset.add("banana") #insert single items
print(thisset)
thisset.update(["jackfruit","cherry"])
print(thisset)

melon
orange
apple
{'melon', 'orange', 'banana', 'apple'}
{'jackfruit', 'melon', 'cherry', 'banana', 'orange', 'apple'}

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.
thisset.remove("orange")
thisset.discard("cherry")
print(thisset)

{'jackfruit', 'melon', 'banana', 'apple'}

In [ ]:
# Concatenating two set (union or update)

set1 = {"a", "b" , "2"}
set2 = {"1","2", "3"}
set3 = set1.union(set2)
print(set3)

{'1', '2', 'b', '3', 'a'}

In [ ]:
set1.update(set2) # update() function in set adds elements from a set (passed as an argument) to the set
# Update() method takes only a single argument. The single argument can be a set, list, tuples or a dictionary.
# It automatically converts into a set and adds to the set. 
print(set1)

# Set difference() Method Return a set that contains the items that only exist in set1, and not in set2
z = set1.difference(set2)
print(z)

# Return a set that contains the items that exist in both set1, and set2:
z1 = set1.intersection(set2)
print(z1)

{'1', '2', 'b', '3', 'a'}
{'b', 'a'}
{'1', '2', '3'}

*Dictionary*

In [ ]:
# A dictionary is a collection which is unordered, changeable and indexed. 
# In Python, dictionaries are written with curly brackets, and they have keys and values.

thisdict= {
    "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Accessing items of dictionary
x = thisdict["brand"]
y = thisdict["model"]
print(x,y)

# printing the keys
for x in thisdict:
  print(x)

Ford Mustang
brand
model
year

In [ ]:
# printing the values
for x in thisdict:
  print(thisdict[x])

# Change a value
thisdict["year"]= 1995

print(thisdict)

# How can you change the key in a dictionary?

Ford
Mustang
1964
{'brand': 'Ford', 'model': 'Mustang', 'year': 1995}

<font color = 'orange'>*Conditional statements*</font>

In [ ]:
a=0
if a<0:
  print('a is negative')
elif a>0:
  print('a is positive')
else:
  print('a is zero')

a is zero

<font color = 'lightgreen'>*Functions and Scopes*</font>

In [ ]:
# defining a function and a global variable

def add(a, b):
  global sayHI
  sayHI = 'Hello There!'
  sayNO = 'NOOOOOOOOOO!'
  return a+b

print(add(5,2))
print(sayHI)

7
Hello There!

<font color = 'violet'>**Instaling third party libraries**</font>

*   NumPy
*   Pandas
*   Matplotlib
*   Seaborn

*Installing directly from terminal*

 **pip** is the standard package manager for Python. It allows you to install and manage additional packages that are not part of the Python standard library.

In [ ]:
!pip install numpy pandas matplotlib seaborn

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)

*Installing from text file*

Creating a text file in python

In [ ]:
requirementsFile = open("requirements.txt","w+")

In [ ]:
pip install -r /content/requirements.txt

List of Installed packages

In [ ]:
!pip list

Package                       Version
----------------------------- --------------
absl-py                       0.12.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.1.0
appdirs                       1.4.4
argcomplete                   1.12.3
argon2-cffi                   21.1.0
arviz                         0.11.4
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
atari-py                      0.2.9
atomicwrites                  1.4.0
attrs                         21.2.0
audioread                     2.1.9
autograd                      1.3
Babel                         2.9.1
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        4.1.0
blis                          0.4.1
bokeh                         2.3.3
Bottleneck                    1.3.2
branca                        0.4.2
bs4                           0.0.1
CacheControl                  0.12.10
cached-property               1.5.2
cachetools                    4.2.4
catalogue                     1.0.0
certifi                       2021.10.8
cffi                          1.15.0
cftime                        1.5.1.1
chardet                       3.0.4
charset-normalizer            2.0.7
click                         7.1.2
cloudpickle                   1.3.0
cmake                         3.12.0
cmdstanpy                     0.9.5
colorcet                      2.0.6
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.3.2
coverage                      3.7.1
coveralls                     0.5
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.2.7
cvxpy                         1.0.31
cycler                        0.11.0
cymem                         2.0.6
Cython                        0.29.24
daft                          0.0.4
dask                          2.12.0
datascience                   0.10.6
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
descartes                     1.1.0
dill                          0.3.4
distributed                   1.25.3
dlib                          19.18.0
dm-tree                       0.1.6
docopt                        0.6.2
docutils                      0.18
dopamine-rl                   1.0.5
earthengine-api               0.1.288
easydict                      1.9
ecos                          2.0.7.post1
editdistance                  0.5.3
en-core-web-sm                2.2.5
entrypoints                   0.3
ephem                         4.1
et-xmlfile                    1.1.0
fa2                           0.3.5
fastai                        1.0.61
fastdtw                       0.3.4
fastprogress                  1.0.0
fastrlock                     0.8
fbprophet                     0.7.1
feather-format                0.4.1
filelock                      3.3.2
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   2.0
folium                        0.8.3
future                        0.16.0
gast                          0.4.0
GDAL                          2.2.2
gdown                         3.6.4
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               1.26.3
google-api-python-client      1.12.8
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.0
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.53.0
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.2
grpcio                        1.41.1
gspread                       3.0.1
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.2
holidays                      0.10.5.2
holoviews                     1.14.6
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
humanize                      0.5.1
hyperopt                      0.1.2
ideep4py                      2.0.0.post3
idna                          2.10
imageio                       2.4.1
imagesize                     1.3.0
imbalanced-learn              0.4.3
imblearn                      0.0
imgaug                        0.2.9
importlib-metadata            4.8.2
importlib-resources           5.4.0
imutils                       0.5.4
inflect                       2.1.0
iniconfig                     1.1.1
intel-openmp                  2021.4.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.6.5
itsdangerous                  1.1.0
jax                           0.2.21
jaxlib                        0.1.71+cuda111
jdcal                         1.4.1
jedi                          0.18.0
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.1.0
jpeg4py                       0.1.4
jsonschema                    2.6.0
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.9.1
jupyterlab-pygments           0.1.2
jupyterlab-widgets            1.0.2
kaggle                        1.5.12
kapre                         0.3.5
keras                         2.7.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.3.2
korean-lunar-calendar         0.2.1
libclang                      12.0.0
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.34.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.2.6
Markdown                      3.3.4
MarkupSafe                    2.0.1
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.6
missingno                     0.5.0
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.10.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.2
multiprocess                  0.70.12.2
multitasking                  0.0.9
murmurhash                    1.0.6
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.5.5
nbconvert                     5.6.1
nbformat                      5.1.3
nest-asyncio                  1.5.1
netCDF4                       1.5.8
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.2.5
notebook                      5.3.1
numba                         0.51.2
numexpr                       2.7.3
numpy                         1.19.5
nvidia-ml-py3                 7.352.0
oauth2client                  4.1.3
oauthlib                      3.1.1
okgrade                       0.4.3
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30
openpyxl                      2.5.9
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.2
palettable                    3.3.0
pandas                        1.1.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.12.0
parso                         0.8.2
pathlib                       1.0.1
patsy                         0.5.2
pep517                        0.12.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
plac                          1.1.3
plotly                        4.4.1
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.5.2
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.6
prettytable                   2.4.0
progressbar2                  3.38.0
prometheus-client             0.12.0
promise                       2.3
prompt-toolkit                1.0.18
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.7.6.1
ptyprocess                    0.7.0
py                            1.11.0
pyarrow                       3.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.2
pycparser                     2.21
pyct                          0.4.8
pydata-google-auth            1.2.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0.1
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pymc3                         3.11.4
PyMeeus                       0.5.11
pymongo                       3.12.1
pymystem3                     0.2.0
PyOpenGL                      3.1.5
pyparsing                     2.4.7
pyrsistent                    0.18.0
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        2.19.1.1
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.15
python-slugify                5.0.2
python-utils                  2.5.6
pytz                          2018.9
pyviz-comms                   2.1.0
PyWavelets                    1.2.0
PyYAML                        3.13
pyzmq                         22.3.0
qdldl                         0.1.5.post0
qtconsole                     5.2.0
QtPy                          1.11.2
regex                         2019.12.20
requests                      2.23.0
requests-oauthlib             1.3.0
resampy                       0.2.2
retrying                      1.3.3
rpy2                          3.4.5
rsa                           4.7.2
scikit-image                  0.16.2
scikit-learn                  0.22.2.post1
scipy                         1.4.1
screen-resolution-extra       0.0.0
scs                           2.1.4
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.8.0
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    5.2.1
snowballstemmer               2.1.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
spacy                         2.2.4
Sphinx                        1.8.5
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.26
sqlparse                      0.4.2
srsly                         1.0.5
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.4.4
tabulate                      0.8.9
tblib                         1.7.0
tensorboard                   2.7.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.0
tensorflow                    2.7.0
tensorflow-datasets           4.0.1
tensorflow-estimator          2.7.0
tensorflow-gcs-config         2.7.0
tensorflow-hub                0.12.0
tensorflow-io-gcs-filesystem  0.21.0
tensorflow-metadata           1.4.0
tensorflow-probability        0.14.1
termcolor                     1.1.0
terminado                     0.12.1
testpath                      0.5.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         7.4.0
tifffile                      2021.11.2
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
torch                         1.10.0+cu111
torchsummary                  1.5.1
torchtext                     0.11.0
torchvision                   0.11.1+cu111
tornado                       5.1.1
tqdm                          4.62.3
traitlets                     5.1.1
tweepy                        3.10.0
typeguard                     2.7.1
typing-extensions             3.10.0.2
tzlocal                       1.5.1
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.8.2
wcwidth                       0.2.5
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.0
widgetsnbextension            3.5.2
wordcloud                     1.5.0
wrapt                         1.13.3
xarray                        0.18.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yellowbrick                   0.9.1
zict                          2.0.0
zipp                          3.6.0

<font color = orange> NumPy </font> <br>

---


The best source to know about any third party library is it's dcumentation.

[Numpy Documentation](https://numpy.org/doc/)

NumPy is a Python library used for working with arrays. NumPy is short for "Numerical Python".
NumPy aims to provide an array object that is up to 30x faster than traditional Python lists. It is mainly used for large multi-dimensional array and matrix processing.

In [ ]:
import numpy as np # importing libraries

arr0 = np.array(23)
print(arr0)
arr1 = np.array([1, 2, 3, 4, 5])
print(arr1)
arr2 = np.array([[1, 2, 3,5],[4, 5, 6, 8]])
print(arr2)

23
[1 2 3 4 5]
[[1 2 3 5]
 [4 5 6 8]]

In [ ]:
print(arr2.ndim) # no of dimensions
print(arr2[1,0])
print(arr2[1,-1])

2
4
8

In [ ]:
#[start:end:step].
print(arr2[1,0:2])
print(arr2[1,::3])

print(arr2.dtype) # data type

*Numpy array shapes*

In [ ]:
# NumPy arrays have an attribute called shape that returns a tuple with each index having the number of corresponding elements.

print(arr2.shape)
print(type(arr2.shape))

(2, 4)
<class 'tuple'>
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
#Reshaping means changing the shape of an array.
#The shape of an array is the number of elements in each dimension.
#By reshaping we can add or remove dimensions or change number of elements in each dimension.

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)
print(newarr)
newarr1 = arr.reshape(2, 3, 2)
print(newarr1)

In [ ]:
# Flattening the arrays
# Flattening array means converting a multidimensional array into a 1D array.
# We can use reshape(-1) to do this.
newarr3 = newarr1.reshape(-1)
print(newarr3)

*Numpy array of Ones and Zeros*

In [ ]:
# The numpy.zeros() function returns a new array of given shape and type, with zeros.
rows, cols = 3,4
arrayZero = np.zeros([3,3])
print(arrayZero)
arrayZero2 = np.zeros([rows,cols])
print(arrayZero2)

arrayOne = np.ones([rows,cols])
print(arrayOne)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

*Random numbers with Numpy*

In [ ]:
x = np.random.rand(2,5) # Random numbers between 0 and 1 (Not-Included)
print(x)

y = np.random.randint(1,20, size = (3,3)) # Random integers within pecified range
print(y)

z = np.random.randn(2,5)
print(z)

[[0.00838862 0.72104351 0.97594094 0.29939913 0.82774893]
 [0.62681484 0.5519224  0.42805182 0.85080272 0.40477923]]
[[18 16 12]
 [18  3  8]
 [ 9  3  7]]
[[ 0.80978759 -0.03434314 -0.13366063  1.00697189  0.79808868]
 [ 0.32127976 -0.13834734  1.33754234  0.38082093 -0.97192715]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]
[[1. 0. 0.]
 [0. 1. 0.]]
[[1. 0.]
 [0. 1.]
 [0. 0.]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 0.]]

In [ ]:
a = np.eye(5) # Identity
print(a)
a1 = np.eye(2, 3)
print(a1)

In [ ]:
c = np.transpose(a1)
print(c)

print(np.matmul(c, np.transpose(c))) # Matrix Mutiplication

<font color = 'orange'>**Pandas**</font><br>

---


*pandas* is a Python package providing fast, flexible, and expressive data structures designed to work with relational or labeled data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python.<br>
*pandas* is well suited for tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet.

In [ ]:
import pandas as pd # Importing library

**DataFrame**<br>
A DataFrame is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the DataFrame allows us to represent and manipulate higher-dimensional data.

In [ ]:
# Initializing a DataFrame

data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   value  patient          phylum
0    632        1      Firmicutes
1   1638        1  Proteobacteria
2    569        1  Actinobacteria
3    115        1   Bacteroidetes
4    433        2      Firmicutes
5   1130        2  Proteobacteria
6    754        2  Actinobacteria
7    555        2   Bacteroidetes

In [ ]:
# We can change the order by indexing them in the order we desire.
data = data[['phylum','value','patient']]
data

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

In [ ]:
print(data.columns) # Printing column names
print(data.dtypes) # Printing column types
print(data['patient']) # Printing single column

Index(['phylum', 'value', 'patient'], dtype='object')
phylum     object
value       int64
patient     int64
dtype: object
0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
Name: patient, dtype: int64

In [ ]:
print(data.iloc[0]) # Printing single row
print(len(data)) # Total number of rows

phylum     Firmicutes
value             632
patient             1
Name: 0, dtype: object
8

In [ ]:
# Iterating DataFrame
for i in range(0, len(data)):
  print(data.iloc[i])

phylum     Firmicutes
value             632
patient             1
Name: 0, dtype: object
phylum     Proteobacteria
value                1638
patient                 1
Name: 1, dtype: object
phylum     Actinobacteria
value                 569
patient                 1
Name: 2, dtype: object
phylum     Bacteroidetes
value                115
patient                1
Name: 3, dtype: object
phylum     Firmicutes
value             433
patient             2
Name: 4, dtype: object
phylum     Proteobacteria
value                1130
patient                 2
Name: 5, dtype: object
phylum     Actinobacteria
value                 754
patient                 2
Name: 6, dtype: object
phylum     Bacteroidetes
value                555
patient                2
Name: 7, dtype: object

In [ ]:
# An alternative way of initializing a DataFrame is with a list of dictionaries.

data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [ ]:
# Each row in a DataFrame is an object. We can change the row data as following.
data.patient[0] = 500
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   patient          phylum  value
0      500      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [ ]:
# Copy and Modify

patients = data.patient.copy()
patients[1] = 200
print(data)
print("---------")
print(patients)

   patient          phylum  value
0      500      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555
---------
0    500
1    200
2      1
3      1
4      2
5      2
6      2
7      2
Name: patient, dtype: int64

In [ ]:
# Adding a column
data['year'] = 2021
data

   patient          phylum  value  year
0      500      Firmicutes    632  2021
1        1  Proteobacteria   1638  2021
2        1  Actinobacteria    569  2021
3        1   Bacteroidetes    115  2021
4        2      Firmicutes    433  2021
5        2  Proteobacteria   1130  2021
6        2  Actinobacteria    754  2021
7        2   Bacteroidetes    555  2021

**Downloading Dataset**

In [ ]:
!gdown --id 1yniDu31JGo7-Df7Zt9N_9n89i90Ot74W

Downloading...
From: https://drive.google.com/uc?id=1yniDu31JGo7-Df7Zt9N_9n89i90Ot74W
To: /content/Titanic - ML from Disaster.zip
100% 33.8k/33.8k [00:00<00:00, 4.97MB/s]

**Decompressing files**

In [ ]:
!unzip /content/Titanic-ML_from_Disaster.zip

Archive:  /content/Titanic-ML_from_Disaster.zip
  inflating: test.csv
  inflating: train.csv

Reading from CSV using Pandas

In [ ]:
train = pd.read_csv('/content/train.csv')

In [ ]:
# Information about first six rows - Including header
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
# Condition on column values
new_train = train[(train.Age>30) & (train.Survived==1)]
new_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1              2         1       1  ...  71.2833   C85         C
3              4         1       1  ...  53.1000  C123         S
11            12         1       1  ...  26.5500  C103         S
21            22         1       2  ...  13.0000   D56         S
52            53         1       1  ...  76.7292   D33         C
..           ...       ...     ...  ...      ...   ...       ...
835          836         1       1  ...  83.1583   E49         C
857          858         1       1  ...  26.5500   E17         S
862          863         1       1  ...  25.9292   D17         S
871          872         1       1  ...  52.5542   D35         S
879          880         1       1  ...  83.1583   C50         C

[70 rows x 12 columns]

In [ ]:
# Adding a new Column
randomCol = []
for i in range(0, len(new_train)):
  randomCol.append(random.randint(0,100))
  
new_train['Randomness'] = randomCol
new_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     PassengerId  Survived  Pclass  ... Cabin Embarked  Randomness
1              2         1       1  ...   C85        C          77
3              4         1       1  ...  C123        S          42
11            12         1       1  ...  C103        S          82
21            22         1       2  ...   D56        S          49
52            53         1       1  ...   D33        C          65
..           ...       ...     ...  ...   ...      ...         ...
835          836         1       1  ...   E49        C          11
857          858         1       1  ...   E17        S           5
862          863         1       1  ...   D17        S          16
871          872         1       1  ...   D35        S          84
879          880         1       1  ...   C50        C          30

[70 rows x 13 columns]

In [ ]:
# Dropping a column
new_train.drop(labels=['Randomness'], inplace=True, axis = 1)
new_train

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# Dropping a row
new_train.drop(labels=[1,3], inplace=True, axis=0)
new_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
11            12         1       1  ...  26.5500  C103         S
21            22         1       2  ...  13.0000   D56         S
52            53         1       1  ...  76.7292   D33         C
123          124         1       2  ...  13.0000  E101         S
194          195         1       1  ...  27.7208    B4         C
..           ...       ...     ...  ...      ...   ...       ...
835          836         1       1  ...  83.1583   E49         C
857          858         1       1  ...  26.5500   E17         S
862          863         1       1  ...  25.9292   D17         S
871          872         1       1  ...  52.5542   D35         S
879          880         1       1  ...  83.1583   C50         C

[68 rows x 12 columns]